.container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(24, 21, 24);
  background-image: url(src/assets/img/espacio.jpg);
  min-height: 97.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.start-page {
  color: rgb(240, 5, 5);
  align-items: center;
  justify-content: center;
  background-color: black;
  border: rgb(97, 38, 245) solid 2px;
  border-radius: 20px;
  padding: 30px;
}

.title {

  font-size: xx-large;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.titleMessage {
  width: 400px;
  height: 70px;
  font-size: xx-large;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.startButton {
  width: 400px;
  height: 80px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 35px;
  background-color: #2621b5;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease;
  margin-top: 150px;

}

.startButton:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  background-color: rgb(245, 38, 38);
}
